@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(218, 23%, 16%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    flex-direction: column;
    gap: 50px;

}
.card {
    width: 80%;
    max-width: 450px;
    background-color: hsl(217, 19%, 24%);
    color:white;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    position: relative;
}

.advice_Heading {
    display: inline;
}
.heading {
    margin: 10px 0;
    padding: 5px;
    font-size: 11px;
    color: hsl(150, 100%, 66%);
    letter-spacing: 3px;
    font-family: sans-serif; 
    font-weight: 600;
    text-transform: uppercase;
}

.divider {
    width: 100%;
    margin: 20px 0;
}
.advice_text {
    margin: 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    color: hsl(193, 38%, 86%);
}

.btn {
    border: none;
    outline: none;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    padding: 15px;
    cursor: pointer;
    transition: all ease .6s;

}
.btn_img {

    max-width: 100%;


}
.btn:hover {
    box-shadow: 0 0 20px hsl(150, 100%, 66%);
}
.attribution { font-size: 11px; text-align: center; color: white }
.attribution a { color: hsl(228, 45%, 44%); }

.attribution a:hover {
    color: gray;
}


